
@import "./utils/variables";
@import "./utils/mixins";
@import "./layouts/_locate.scss";

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    position: relative;
}

.head{position: relative;

    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    img{
        width: 180px;
    }
    &__arrow{
        position: absolute;
        top: 10px;
        left: 25px;
    }
}