
@import "./utils/variables";
@import "./utils/mixins";
@import "./composants/button";
@import "./composants/icon";
@import "./layouts/head";
@import "./layouts/foot";
@import "./layouts/locate";
@import "./layouts/intro";
@import "./layouts/working";
@import "./layouts/resto";


*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;

}