.button {
  font-weight: 600;
  font-size: 0.9em;
  color: white;
  white-space: nowrap;
  width: 300px;
  margin: 30px auto;
  padding: 20px 30px;
  border-radius: 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff46cc), to(#9052db));
  background-image: linear-gradient(#ff46cc, #9052db);
  -webkit-box-shadow: 0 5px 10px 5px #d1d1d1;
          box-shadow: 0 5px 10px 5px #d1d1d1;
}

.button:hover {
  opacity: 0.8;
  -webkit-box-shadow: 0 5px 10px 5px #aaaaaa;
          box-shadow: 0 5px 10px 5px #aaaaaa;
}

.button--center {
  width: 300px;
  margin: 50px auto;
}

.fa-heart {
  font-size: 30px;
  -webkit-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

.fa-heart:hover {
  font-weight: bold;
  color: red;
}

.head {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px auto;
}

.head img {
  width: 220px;
}

.head__arrow {
  position: absolute;
  top: 10px;
  left: 25px;
}

.foot {
  background-color: black;
  padding: 30px 20px 30px;
}

@media screen and (min-width: 768px) {
  .foot {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.foot__relation {
  font-family: 'Shrikhand', cursive;
}

.foot__mentions {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .foot__section {
    width: 30%;
  }
}

.foot a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 20px;
  text-decoration: none;
  color: white;
}

.foot a:hover {
  color: #6b6b6b;
}

.foot p {
  font-weight: bold;
  margin: 10px 0 10px;
  width: 300px;
  text-align: left;
}

.locate {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  background-color: #eaeaea;
  -webkit-box-shadow: 0 -5px 10px -5px #848484;
          box-shadow: 0 -5px 10px -5px #848484;
  gap: 20px;
}

.locate p {
  font-weight: bold;
  color: #6b6b6b;
}

.intro {
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 40px 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f7f7f7;
}

.intro p {
  width: 85%;
  margin: 10px auto;
  color: #6b6b6b;
}

.intro h2 {
  width: 70%;
  margin: 10px auto;
}

.working {
  width: 90%;
  margin: 60px auto;
}

@media screen and (min-width: 768px) {
  .working {
    width: 690px;
  }
}

@media screen and (min-width: 1440px) {
  .working {
    width: 90%;
  }
}

.working__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1440px) {
  .working__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.working__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 5px 10px 5px #dddddd;
          box-shadow: 0 5px 10px 5px #dddddd;
  border-radius: 20px;
  margin: 15px;
  padding: 10px 30px 10px 0;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

@media screen and (min-width: 1440px) {
  .working__item {
    width: 30%;
  }
}

.working__item span {
  width: 30px;
  height: 30px;
  margin: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: #9d3afa;
  border-radius: 50%;
}

.working__item p {
  font-weight: bolder;
  white-space: nowrap;
}

.working__item i {
  color: #6b6b6b;
}

.working__item .fa-store {
  color: #9d3afa;
}

.working__item:hover {
  opacity: 0.8;
  -webkit-box-shadow: 0 5px 10px 5px #aaaaaa;
          box-shadow: 0 5px 10px 5px #aaaaaa;
}

.resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0;
  background-color: #f7f7f7;
}

.resto__title {
  width: 90%;
  margin: 40px auto;
}

.resto__items {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .resto__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.resto__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 5px 10px 5px #dddddd;
          box-shadow: 0px 5px 10px 5px #dddddd;
}

@media screen and (min-width: 768px) {
  .resto__item {
    width: 47%;
  }
}

@media screen and (min-width: 1200px) {
  .resto__item {
    width: 23%;
  }
}

.resto__item img {
  width: 100%;
  height: 230px;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 15px 15px 0 0;
}

.resto__item:hover {
  opacity: 0.8;
  -webkit-box-shadow: 0px 5px 10px 5px #b7b7b7;
          box-shadow: 0px 5px 10px 5px #b7b7b7;
}

.resto__desc {
  padding: 20px 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resto__desc h3 {
  color: black;
  margin: 0;
}

.resto__desc p {
  color: #6b6b6b;
  margin: 10px 0;
}

.resto__desc i {
  margin-bottom: 30px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
}
/*# sourceMappingURL=main.css.map */