
@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/animation";
@import "./composants/new";
@import "./composants/button";
@import "./composants/icon";
@import "./composants/locate";
@import "./composants/intro";
@import "./composants/working";
@import "./composants/resto";
@import "./composants/loader";
@import "./layouts/head";
@import "./layouts/foot";
@import "./pages/index";


*{
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 16px
}
