.button{
    font-weight: 600;
    font-size: 0.9em;
    color: white;
    white-space: nowrap;
    width: 300px;
    margin: 30px auto;
    padding: 20px 30px;
    border-radius: 50px;
    @include button-image($secondary-percent: 10%, $primary-percent: 1%);
    @include button-shadow($amount-percent: 10%);
} 
.button:hover{
    @include elt-hover($percent: 25%)
}

.button--center{
    width: 300px;
    margin: 50px auto;
}