.fa-heart{
    font-size: 30px;
    transition: color 1s ease;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
    background-clip: text;
    background-color:transparent;
    color: transparent;
    &::after{
        content: "";
        display:block ;
        transition: all 1s;
    }
    &:hover {
        color: rgb(252, 42, 224);
    }
}










