.locate{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: $intro-color;
    box-shadow: 0 -5px 10px -5px darken($intro-color, 40%);
    gap: 20px;
    input{
        width: 180px;
        text-align: center;
        border: none;
        background-color: $intro-color;
    }
    input:focus{
        outline: none;
    }
    p{
        font-weight: bold;
        color: darken($intro-color, 50%);
        
    }
}