.new{
    position: absolute;
    font-weight: bold;
    top: 30px;
    right: 10px;
    width: 120px;
    height: 50px;
    padding: 10px;
    margin: 0;
    background-color: #99E2D0;
    color: #219477;
    border-radius: 5px;
}