.menu{
    width: 100%;
    margin: auto;

    &__img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    &__body{
        position: relative;
        width: 100%;
        background-color: lighten($intro-color, 5%);
        padding: 20px;
        margin-top: -50px;
        border-radius: 50px;
        z-index: 9;
    }

    &__title{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        h2{
            font-family: 'Shrikhand', cursive;
        }
    }

    &__card h3{
        position: relative;
        font-weight: lighter;
        color: darken($intro-color, 50%);
    }

    &__section h3::after{
        content: "";
        width: 40px;
        height: 3px;
        background-color: turquoise;
        left: 0;
        top: 25px;
        position: absolute;
    }

    &__item{
        cursor: pointer;
        position: relative;
        background-color: white;
        border-radius: 20px;
        padding: 15px;
        overflow: hidden;
        margin-bottom: 20px;
        
        @include box-shadow;
        h4{
            margin: 5px 0;
            width: 250px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 1;
        }
        div{
            transition: all 1s;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                color: darken($intro-color, 50%);
                margin: 5px 0;
                width: 250px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                -webkit-line-clamp: 1;
            }
            span{
                font-weight: bold;
            }
        }
    }

    // On fait apparaitre progressivement chaque item selon rang dans nth-child()

    &__item:nth-child(1){
        @include animation-fade-in1;
    }

    &__item:nth-child(2){
        @include animation-fade-in2;
    }

    &__item:nth-child(3){
        @include animation-fade-in3;
    }

    &__item::after{
        content: "";
        position: absolute;
        height: 102px;
        width: 100px;
        right: -100px;
        top: 0;
        border-radius: 0 20px 20px 0;
        background: turquoise;
        transition: all 1s;
    }

    &__item:hover &__details{
        width: calc(100% - 100px);
    }
    
    &__item:hover{
        @include elt-hover($percent: 25%)
    }

    &__item:hover::after{
        right: 0;
    }

    // Pour ecran au dessus de 992px

    @media screen and (min-width: 992px){
        &__title{
            padding: 0 1.5%;
        }
        &__card{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        &__section{
            width: 48%;
        }
    }
    @media screen and (min-width: 1440px){
        &__section{
            width: 31%;
        }
    }
}