.menu{
    position: relative;
    width: 90%;
    margin: auto;
    &__img{
        width: 100%;
        object-fit: cover;
        z-index: 0;
    }
    &__body{
        position: absolute;
        top: 350px;
        width: 100%;
        background-color: lighten($intro-color, 5%);
        padding: 20px;
        margin-top: -50px;
        border-radius: 50px;
        z-index: 1;
    }
    &__title{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2{
            font-family: 'Shrikhand', cursive;
        }
    }
    &__card h3{
        font-weight: lighter;
        color: darken($intro-color, 50%);
    }
    &__item{
        background-color: white;
        border-radius: 20px;
        padding: 15px;
        margin-bottom: 20px;
        @include box-shadow;
        h4{
            margin: 5px 0;
        }
        div{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                margin: 5px 0;
            }
        }
    }
    &__item:hover{
        @include elt-hover($percent: 25%)
    }
    &__details{
        p{
            color: darken($intro-color, 50%);
        }
        span{
            font-weight: bold;
        }
    }
}