.foot{
    background-color: black;
    padding: 30px 20px 30px;
    @media screen and (min-width: 768px) {
        width: 100%;
        display: flex;
        justify-content: space-evenly;  
    }
    &__relation{
        font-family: 'Shrikhand', cursive;
    }
    &__mentions{
        text-align: center;
    }
    &__section{
        @media screen and(min-width: 768px) {
            width: 30%;   
        }
    }
    a{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        gap: 20px;
        text-decoration: none;
        color: white;
    }
    a:hover{
        color: darken($intro-color, 50%);
    }
    p{
        @include p-bold;
        margin: 10px 0 10px;
        width: 300px;
        text-align: left;
    }
}