.head{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    img{
        width: 220px;
    }
    &__arrow{
        color: black;
        position: absolute;
        top: 10px;
        left: 25px;
    }
}