.working{
    width: 90%;
    margin: 60px auto;
    @media screen and (min-width: 768px){
        width: 690px;
    }
    @media screen and (min-width: $medium-width){
        width: 90%;
    }
    &__items{
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $medium-width){
            flex-direction: row;
        }
    }
    &__item{
        cursor: pointer;
        display: flex;
        justify-content: start;
        background-color: lighten($intro-color, 5%);
        @include button-shadow($amount-percent: 5%);
        border-radius: 20px;
        margin: 15px;
        padding: 10px 30px 10px 0;
        display: flex;
        align-items: center;
        gap: 30px;
        @media screen and (min-width: $medium-width){
            width: 30%;
        }
        span{
            width: 30px;
            height: 30px;
            margin: -15px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: #9d3afa;
            border-radius: 50%;
        }
        p{
            font-weight: bolder;
            white-space: nowrap;
        }

        i{
            color: darken($intro-color, 50%);
            
        }
        .fa-store{
            color: #9d3afa;
        }
    }  
    &__item:hover{
        @include elt-hover($percent: 25%);
        }
}
